#logo {
    -skrollr-animation-name:logo-position;
}
@-skrollr-keyframes logo-position {
    0 {
        width: 50%;
        left: 25%;
        top: 25%;
    }

    540 {
        width: 10%;
        left: 90%;
        top: 85%;
    }
}

#logo>svg>#d2blogopath{
    -skrollr-animation-name:logo-color;
}
@-skrollr-keyframes logo-color {
    0 {
        fill[cubic]: rgb(0,0,0);
    }

    540 {
        fill[cubic]: rgb(255,0,182);
    }
}

#tagline {
    -skrollr-animation-name:tagline;
}
@-skrollr-keyframes tagline {
    400 {
        left: 100%;
        top: 100%;
    }

    1190 {
        left: -100%;
        top: -15%;
    }
}

#fini {
    -skrollr-animation-name:fini;
}
@-skrollr-keyframes fini {
    1100 {
        color[sqrt]: rgba(255,0,182, 0);
    }

    2000 {
        color[sqrt]: rgba(255,0,182, 1);
    }
}